/* Container pro všechny karty */
.car-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Posune karty do leva */
  padding-top: 10px; /* Zmenší mezeru nad navigační lištou */
  margin-left: -5px; /* Posune karty více doleva */
}

/* Každá karta auta */
.car-card {
  background-color: #1a374d;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.car-card:hover {
  transform: scale(1.05);
}

/* Styl pro obrázek auta */
.car-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Titul a popis */
.car-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #6998ab;
}

.car-card p {
  font-size: 14px;
  color: #6998ab;
}

/* CSS pro stránkování a tlačítka */
.pagination {
  display: flex;
  justify-content: flex-start; /* Posune stránkování na levou stranu */
  align-items: center;
  margin-top: 20px;
  margin-left: 10px; /* Posune stránkování více doleva */
}

.pagination-btn {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  background-color: #9a55f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #9a55f3;
}

/* Styl pro stránkovací text (např. "Strana 1") */
.pagination span {
  font-size: 16px;
  margin: 0 10px;
}
