.register-container {
    width: 100%;
    max-width: 400px;
    margin: 200px auto 0 auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    background: #1a374d;
  }
  
 
  .register-container h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
  }
  
  
  .register-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 600;
    color: #fff;
  }
  
  .register-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  .register-container button {
    width: 100%;
    padding: 10px;
    background-color: #9a55f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-container button:hover {
    background-color: #9a55f3;
  }
  
  
  .register-link {
    margin-top: 20px;
  }
  
  .register-link p {
    font-size: 14px;
    color: #fff;
  }
  
  .register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  